In [1]:
from repDNA.nac import RevcKmer
from repDNA.ac import DAC
from repDNA.psenac import PseDNC
from repDNA.util import get_data

In [2]:
data = get_data(open('./example.fasta'))

In [3]:
rev_kmer = RevcKmer(k=6, normalize=True, upto=True)
ac = DAC(lag=6)
psednc = PseDNC(lamada=3, w=0.05)

In [4]:
rekmer_vec = rev_kmer.make_revckmer_vec(data)
ac_vec = ac.make_dac_vec(data, all_property=True)
psednc_vec = psednc.make_psednc_vec(data)

In [6]:
import pandas as pd

In [7]:
pd.DataFrame(data)

                                                   0
0  CTTCGCCAGCCACTCTTAGTCCGCCAGCGCGTGCGGCGGAGGCCGA...
1  GTAGTCAGCAGAGCGGAATCTAGGAAGGCTCCTTTCCCGCGGCGCC...

In [8]:
pd.DataFrame(rekmer_vec)

,0,1,2,3,4,5,6,7,8,9,...,2762,2763,2764,2765,2766,2767,2768,2769,2770,2771
0,0.292,0.708,0.053,0.083,0.113,0.023,0.098,0.211,0.143,0.113,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.298,0.702,0.059,0.059,0.134,0.024,0.091,0.276,0.098,0.094,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [9]:
pd.DataFrame(ac_vec)

,0,1,2,3,4,5,6,7,8,9,...,218,219,220,221,222,223,224,225,226,227
0,0.005,-0.250,-0.209,0.453,-0.205,0.226,0.510,0.562,-0.001,0.331,...,0.019,0.077,0.088,0.008,0.109,0.049,0.058,0.043,0.032,0.077
1,0.030,-0.203,-0.195,0.505,-0.039,0.263,0.511,0.482,0.079,0.475,...,0.024,0.060,0.070,0.029,0.000,0.005,0.014,-0.004,-0.008,-0.008

In [10]:
pd.DataFrame(psednc_vec)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18
0,0.018,0.027,0.043,0.018,0.037,0.07,0.116,0.049,0.040,0.122,0.101,0.040,0.012,0.052,0.043,0.024,0.0747,0.0543,0.0585
1,0.020,0.026,0.052,0.020,0.046,0.13,0.081,0.059,0.029,0.114,0.098,0.023,0.023,0.049,0.029,0.029,0.0685,0.0569,0.0480